<div class='card'>
  <div class='card-img-top'>
    <img src='{{flags.svg}}' alt='{{name.common}}' />
  </div>
  <div class='card-body'>
    <h2 class='card-title'>{{name.official}}</h2>
    <p class='card-text'>Capital: {{capital}}</p>
    <p class='card-text'>Population: {{population}}</p>
    <p class='card-text'>Languages: {{languages}}</p>

    {{!-- <p class="card-text"><b>Languages</b></p>
    <ul class="list-group"></ul>
    {{#each languages}}
      <li class="list-group-item">{{languages}}</li>
    {{/each}}
    </ul> --}}
  </div>
</div>